@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mystudentjob</h1>
    <p class="lead">The main objective of Mystudentjob.ie is to provide a platform for students or new graduates to search for work placement, jobs and display their portfolios for potential employers to see.</p>
   <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
<section>
<div class="row" style="margin:0px;">
    <div class="col-md-6" style="border:1px solid black; height:40px; margin-right:15px; text-align:center;background-color:orange; font-weight:bold;">Students and New Graduates</div>
    <div class="col-md-5" style="border:1px solid black; height:40px; margin-left:25px; text-align:center; background-color:orange;font-weight:bold;" >Employers and Recuritment Agencies</div>
</div>
<div class="row" style="margin:0px;">
    <div class="col-md-6" style="margin-right:15px;">
        <div class="row">
            <div class="col-md-4"  style="border:1px solid black; height:90px; margin-top:15px; text-align:center;background-color:blue; font-weight:bold; color:white; padding-top:20px;">Student/Graduate Registeration</div>
            <div class="col-md-3" style="border:1px solid black; height:90px; margin-top:15px; margin-left:20px; margin-right:15px; text-align:center;background-color:blue; font-weight:bold; color:white; padding-top:40px;">Upload CV</div>
            <div class="col-md-3" style="border:1px solid black; height:90px; margin-top:15px; margin-left:20px; text-align:center;background-color:blue; font-weight:bold; color:white; padding-top:30px;">Upload Portfolio</div>
        </div>
    </div>
    <div class="col-md-5" style="margin-left:11px;">
        <div class="col-md-5" style="border:1px solid black; height:90px; margin-top:15px; text-align:center;background-color:blue; font-weight:bold; color:white; padding-top:20px;">Employer/Agency Registration</div>
        <div class="col-md-6" style="border:1px solid black; height:90px; margin-top:15px; margin-left:30px;  text-align:center;background-color:blue; font-weight:bold; color:white; padding-top:20px;">Search for CVs and Portfolios</div>
    </div>
</div>
    <div class="row" style="margin:0px;">
        <div class="col-md-6" style="border:1px solid black; height:60px; margin-top:15px; margin-right:15px; text-align:center;background-color:blue; font-weight:bold; color:white; padding-top:20px;">Workplacement | Jobs | Career Advice</div>
        <div class="col-md-5" style="border:1px solid black; height:60px; margin-top:15px; margin-left:25px; text-align:center; background-color:blue;font-weight:bold; color:white; padding-top:20px;">Advertise a Vacancy</div>
    </div>
</section>